$gridBackground: #423960;

// set background color and center vertically
.gridContainer{
    background-color: $gridBackground;    
    position: relative;
    top: 50%;
    transform: translateY(-50%);      
}